<%- include('../views/partials/head.ejs') %>
<title><%= locals.bambi ? `${bambi.displayName || bambi.username} | Bambisleep.chat` : 'Bambi Profiles | Bambisleep.chat' %></title>
<link rel="stylesheet" href="/css/bambis.css">

<%
let content = include('./bambis-content.ejs', {
  bambi: locals.bambi,
  bambis: locals.bambis,
  error: locals.error,
  currentPage: locals.currentPage,
  totalPages: locals.totalPages
});

let scripts = ['/js/bambis.js'];

%>

<%- include('./partials/layout.ejs', { 
  content: content,
  scripts: scripts 
}) %>