<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="BambiSleep.Chat will reinstall your OS if you let her">
  <meta name="keywords"
    content="BambiSleep, AIGF, AI, LLM, Chat, Hypno, Brainwash, Mindfuck, Bambi, Bambi Sleep, BambiSleep, BambiSleep.chat, Bambi Profile">
  <meta name="author" content="Brandynette">  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/controls.css">
  <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <title>
    <%= locals.title || 'BambiSleep.Chat' %>
  </title>
</head>