<nav>
  <ul>
    <li><a href="/">AIGF</a></li>
    <!-- <li><a href="/psychodelic-trigger-mania">Psychodelic Trigger Mania</a></li> -->
    <li><a href="/scrapers">Scrapers</a></li>
    <li><a href="/help">Help</a></li>
    <li><a href="/bambis">Browse Bambis</a></li>
    <li><a href="/bambi/<%= profile.username %>">Bambi Profile</a></li>
  </ul>
</nav>