<nav>
  <ul>
    <li><a href="/">BambiSleep.Chat</a></li>
    <li><a href="/profile">Profiles</a></li>
    <li><a href="/profile/new">Create Profile</a></li>
    <li><a href="/scrapers">Scrapers</a></li>
    <li><a href="/help">Help</a></li>
    <li><a href="/bambis">Bambis</a></li>
  </ul>
</nav>