<nav>
  <ul>
    <li><a href="/">AIGF</a></li>
    <!-- <li><a href="/psychodelic-trigger-mania">Psychodelic Trigger Mania</a></li> -->
    <li><a href="/scrapers">Scrapers</a></li>
    <li><a href="/help">Help</a></li>
    <li><a href="/bambis">All Bambis</a></li>
    <% if (typeof bambi !== 'undefined' && bambi) { %>
      <li><a href="/bambi/<%= bambi.username %>">My Bambi</a></li>
    <% } %>
  </ul>
</nav>